################################
# Visual Studio Ignore Files
################################
*.user
*.sdf
*.opensdf
*.opendb

################################
# XCode Ignore Files
################################
xcuserdata/
Projects/Libraries/CSBase/build
*.xcscmblueprint

################################
# Android Studio Ignore Files
################################
Projects/Android/chillisource/build
Projects/Android/chillisource/src/main/libs/armeabi-v7a
Projects/Android/chillisource/src/main/libs/armeabi
Projects/Android/chillisource/src/main/libs/arm64-v8a
Projects/Android/chillisource/src/main/libs/x86
Projects/Android/chillisource/src/main/libs/x86_64
Projects/Android/playapkexpansion/build
Projects/Android/playlicensing/build

################################
# General Ignore Files
################################
bin/
obj/
build/
.DS_Store
Thumbs.db
*.pyc






